:root {
  --primary-color: #3498db;
  --primary-dark: #2980b9;
  --secondary-color: #2ecc71;
  --secondary-dark: #27ae60;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --warning-color: #f39c12;
}
